/*! css\2 layout\contacts.css */

.contacts {
    height: 100dvh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__container {
    height: 100%;
    width: 100%;
    min-width: var(--min-width-md);
    max-width: var(--max-width-xxl);
    padding: var(--spacing-xl);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
}

.contacts__title {
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.contacts__form {
    height: 100%;
    min-height: 435px;
    width: 40%;
    padding: var(--spacing-xxl);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);

    background-color: var(--bg-primary);
    border: solid black 3px;
    border-radius: 15px;
}

input {
    height: 100%;
    width: 100%;
    padding: var(--spacing-lg);

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid black 3px;
    border-radius: 15px;
}

input:hover {
    height: 100%;
    width: 100%;
    padding: var(--spacing-lg);

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid black 3px;
    border-radius: 15px;
}

input[type='submit'] {
    background-color: var(--accent-primary);
    font-weight: bold;
}
